.signup {
    text-align: center;
}

.signup-header {
    background-color: #EAF4D3;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}